<?xml version="1.0" encoding="UTF-8"?>
<configuration>

    <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
        <target>System.out</target>
        <encoder>
            <pattern>%date{MM/dd HH:mm:ss} %-5level[%.15thread] %logger{50} - %msg%n</pattern>
        </encoder>
    </appender>

    <!--<appender name="FILE" class="ch.qos.logback.core.rolling.RollingFileAppender">-->
    <!--<file>platform-api.log</file>-->
    <!--<rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">-->
    <!--&lt;!&ndash; daily rollover &ndash;&gt;-->
    <!--<fileNamePattern>platform.api.%d{yyyy-MM-dd}.log</fileNamePattern>-->

    <!--&lt;!&ndash; keep 30 days' worth of history &ndash;&gt;-->
    <!--<maxHistory>30</maxHistory>-->
    <!--</rollingPolicy>-->

    <!--<encoder>-->
    <!--<pattern>%-4relative [%thread] %-5level %logger{35} - %msg%n</pattern>-->
    <!--</encoder>-->
    <!--</appender>-->

    <appender name="FILE1" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>FSM.log</file>
        <rollingPolicy class="ch.qos.logback.core.rolling.FixedWindowRollingPolicy">
            <fileNamePattern>platform-api.%i.log</fileNamePattern>
            <minIndex>1</minIndex>
            <maxIndex>20</maxIndex>
        </rollingPolicy>

        <triggeringPolicy class="ch.qos.logback.core.rolling.SizeBasedTriggeringPolicy">
            <maxFileSize>20MB</maxFileSize>
        </triggeringPolicy>

        <encoder>
            <pattern>%date{MM/dd HH:mm:ss} %-5level[%.15thread] %logger{50} - %msg%n</pattern>
        </encoder>
    </appender>

    <logger name="spray.can.server.HttpServerConnection" level="DEBUG" />
    <logger name="akka.io.TcpListener" level="DEBUG" />

    <root level="DEBUG">
        <appender-ref ref="CONSOLE"/>
        <appender-ref ref="FILE1"/>
    </root>

</configuration>